body{
    padding: 0px;
    margin: 0px auto;
}

.logo{
    min-width: 20%;
    float: left;
    min-height: 83px;
    padding-top: 12px;
}

.dropdown{
    display: none;
}
.menu{
    min-width: 60%;
    float: left;
    min-height: 83px;
    justify-content: center;
    display: flex;
    align-items:center;
    position : relative;
    
}

.menu::after {
    content : "";
    position : absolute;
    width : 91.8%;
    height : 3px;
    background-color: #25347666;
    bottom: 0px; 
    left: 57px;
  } 

.country{
    min-width: 20%;
    float: left;
    min-height: 83px;
    background: #253476;
}
.menu ul{
 padding: 0px;
 margin: 0px;
 float: left;
 justify-content: center;
 display: flex;
 align-items: center;
 padding-top: 32px;
}
.menu ul li{
    float: left;
    list-style-type: none;
    padding: 0 10px;
    margin: 0 10px;
    font-family: 'Zilla Slab';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
letter-spacing: 1px;

color: #1F1F24;
/* margin-bottom: 30px; */
box-sizing: border-box;
border: 4px solid transparent;
cursor: pointer;
transition: 0.5s;

}


.menu ul li:hover{
    border-bottom: 4px solid green;
}


.country p{
    float: left;
    padding-top: 23px;
    width: 50%;
    padding-left: 15px;
    font-family: 'Zilla Slab';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
letter-spacing: 1px;

color: #FFFFFF;
}


.back{
    background-color: #F4F5F7;
}
.back2{
    background: #F4F5F7;
    height: 203px;
    
}
.food{
    margin-top: 50px;
}
.food_img{
    float: left;
}
.food_img{
    position: relative;
}
.food_img i{
    position: absolute;
    top: 45%;
    left: 45%;
    color: white;
}
.food_img h1{
    float: left;
    display: none;
}

.food_content{
    float: left;
}

.food_content h1{
    font-family: 'Zilla Slab';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 43px;

color: #3E3E3E;
margin-left: 49px;
width: 70%;
}

.food_content h3{
    font-family: 'Zilla Slab';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #1F1F24;
margin-left: 49px;
margin-top: 90px;
position: relative;


}

.food_content h3::after {
    content : "";
    position : absolute;
    width : 90.8%;
    height : 3px;
    background-color: #F4F5F7;
    bottom: -27px; 
    left: 0px;
  } 

.food_content h3 span {
    margin-left: 5px;
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    text-align: center;
    
    color: #27AE60;
}
#deq{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    text-align: center;
    
    color: #27AE60;
    display: none;

}

.food_content p{
    font-family: 'Zilla Slab';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #1F1F24;
margin-left: 49px;
margin-top: 50px;
}

.food_content p span{
    margin-left: 10px;
    cursor: pointer;
}

.food_content p i{
    padding-left: 10px;

}

.green{
    color: #27AE60;

}

.ingridiets{
    margin-top: 50px;
    padding: 20px;
    float: left;
}
.need{
    width: 30%;
    position: relative;
    float: left;
    margin: 0px
}


.need::after {
    content : "";
    position : absolute;
    width : 1px;
    height : 181px;
    background-color: #D7D8DA;
    bottom: -6px; 
    left: 293px;
  } 

.ingridiets h1{
    font-family: 'Zilla Slab';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 80.88%;
/* or 19px */

display: flex;
align-items: center;

color: #3E3E3E;
margin-left: 20px;

}

.ingridiets ul{
    padding: 0px;
    margin: 0px;
    margin-left: 20px;


}

.ingridiets ul li{
    list-style-type: none;
}

.how{
    width: 70%;
    float: left;
}


.recepies_select{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding-bottom: 10px;
    cursor: pointer;
    

}


.recepies_select span{
    font-family: 'Zilla Slab';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
/* identical to box height */


color: #3E3E3E;

   
}

.recepie-border {
    width: 100%;
    border-bottom: 3px solid #F4F5F7;
    box-sizing: border-box;
}

#butun{
    font-family: 'Zilla Slab';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-decoration-line: underline;

color: #3E3E3E;
}

.card{
    margin-top: 20px;
    width: 100%;
    background: transparent;
    min-height: 207px;
}
.card img{ 
    float: left;
    width: 50%;
}
.card_info {
    float: left;
    width: 50%;
    padding: 50px 0px 0px 30px ;


}

.card_info h1{
    font-family: 'Zilla Slab';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
padding: 0px;
margin: 0px;
margin-bottom: 19px;

color: #3E3E3E;
float: left;

}

.card_info p{
    font-family: 'Zilla Slab';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
/* or 21px */


color: #858585;

opacity: 0.8;
width: 100%;
padding: 0px;
margin: 0px;
float: left;
}

.butun_recep{
    display: none;
}




@media only screen and (max-width: 662px) {

    .menu{
        display: none;
    }
    .country{
        display: none;
    }

    .dropdown{
        display: block;
        width: 50%;
        float: left;
        min-height: 80px;
        padding-left: 187px;
        padding-top: 10px;
        
    }
    .dropdown i{
        background-color: white;

        border-radius: 50%;

        border: 1px solid grey;

        padding: 15px;
    }
    .logo{
        width: 100%;
        min-height: 80px;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        

    }
    .logo img{
        width: 50%;
        float: left;
    }
    .food_img img{
        width: 99%;
    }
    .food_img i{
        display: none;
     }
    .food_content h1{
        display: none;
    }
    .food_content h3 {
        width: 100% ;
        
  
    }
    .food_img h1{
        display: block;
        font-family: 'Zilla Slab';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
        
        color: #3E3E3E;
        margin-left: auto;
        width: 100%;
        text-align: center;
        padding: 0 40px;
    }
    .food_content h3{
        margin: 0px;
        font-size: 28px;
        margin-top: 20px;
    }
    .food_content h3 span{
        display: none;
    }
    #deq{
        display: block;
        margin: 0;
        text-align: left;
        width: 100%;
        font-size: 28px;
        margin-top: 20px;
    }

    .food_content h3::after {
        content : "";
        position : absolute;
        width : 190%;
        height : 3px;
        background-color: #F4F5F7;
        bottom: -67px; 
        left: 0px;
      } 

      .food_content p{
        padding: 0px;
        margin: 0px;
        margin-top: 40px;
        font-size: 28px;

      }  

    .ingridiets{
        margin-top: 50px;
        padding: 20px;
        float: left;
    }
    .need{
        width: 100%;
        position: relative;
        float: none;
        margin: 0px
    }
    
    
    .need::after {
        content : "";
        position : absolute;
        width : 100%;
        height :1px;
        background-color: #D7D8DA;
        bottom: -6px; 
        left: 0;
      } 
    
    .ingridiets h1{
        font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 80.88%;
    /* or 19px */
    
    display: flex;
    align-items: center;
    
    color: #3E3E3E;
    margin-left: 20px;
    
    }
    
    .ingridiets ul{
        padding: 0px;
        margin: 0px;
        margin-left: 20px;
    
    
    }
    
    .ingridiets ul li{
        list-style-type: none;
        font-size: 20px;
    }
    
    .how{
        width: 100%;
        float: inline-start;
    }
    
    .recepies_select{
        padding: 0 40px;
        text-align: center;
        justify-content: center;
        

    }

    .recepies_select span{
        font-size: 28px;
    }
    #butun{
        display: none;
    }

    
    .butun_recep{
        margin-top: 50px;
        display: block;
        font-family: 'Zilla Slab';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 22px;
        /* identical to box height */
        
        text-decoration-line: underline;
        
        color: #3E3E3E;
        display: flex;
        align-items: center;
        justify-content: center;


    }

}
